<div class="row justify-content-center">
  <div class="col-md-10 col-sm-12">

    <div *ngIf="$game | async as game" class="card text-center" style="width: 100%;">
      <div class="card-header default-color white-text">
          {{game.name}}
      </div>
      <div class="card-header default-color white-text">
        <zype-progress-bar></zype-progress-bar>
      </div>
      <div class="card-body">
        <div class="phrase-repeat" *ngFor="let phrase of game.value">
          <!-- <pre>PHRASE: {{phrase}}</pre> -->
          <div class="word-repeat" *ngFor="let word of phrase.value">
            <div class="letter-repeat" *ngFor="let letter of word.value">
              <h5>{{letter.value}}</h5>

            </div>

          </div>
        </div>
      </div>
      {{game.inputVal}}
      <div class="card-footer text-muted default-color white-text">
          <button type="button"  (click)="game.startGame();" class="btn btn-primary waves-light" mdbRippleRadius>Primary</button>
          <h1>
            <span *ngFor="let inLetter of game.currentWord.value">{{inLetter.value}}</span>
          </h1>
          <input [(ngModel)]="game.inputVal" (input)="game.updateInput($event.target.value)" placeholder="Type here" type="text" class="form-control">
      </div>
    </div>
  </div>
</div>