:host {
  color: black;
}

h5 {
  display: inline-block;
}

.phrase-repeat {
  position: relative;
}

.word-repeat {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.letter-repeat {
  position: relative;
  display: inline-block;
}
