<div class="row justify-content-md-center">
  <div class="col-md-12">
    <h4>Game Setup</h4>
  </div>
</div>
<br>
<div class="row justify-content-md-center">
  <div class="col-md-3">
    <h5>Select Game Type</h5>
    <div class="md-form">
      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>
          {{selectedGameType.name}}
        </button>

        <div class="dropdown-menu dropdown-primary">
          <a *ngFor="let type of gameTypes" class="dropdown-item" (click)="selectGameType(type)">{{type.name}}</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col-auto">
    <h5># of Repetitions</h5>

    <div class="md-form">
      <zype-counter [(counter)]="repetitions"></zype-counter>
    </div>

  </div>
  <div class="col-md-3">

    <h5>Select Time Limit
      <h6>
        <em>(optional)</em>
      </h6>
    </h5>

    <div class="md-form">
      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>
          Time: {{timeLimit}}
        </button>

        <div class="dropdown-menu dropdown-primary">
          <a *ngFor="let time of selectableTimes" class="dropdown-item" (click)="timeLimit = time">{{time}} minute</a>
        </div>
      </div>
    </div>


  </div>

</div>

<div class="row justify-content-md-center">
  <div class="col-md-offset-3 col-md-6">
    <div *ngIf="selectedGameType.value == _GameOptionEnum.Custom" class="md-form">
      <textarea [disabled]="selectedGameType.value != _GameOptionEnum.Custom" #customInput id="customInput" class="md-textarea form-control"
        id="input_text" type="text" length="120" [(ngModel)]="customText" mdbCharCounter mdbActive></textarea>
      <label for="form1" class="">Custom Input</label>
    </div>
    <div *ngIf="selectedGameType.value == _GameOptionEnum.BibleVerses" class="md-form">
        <button type="button" class="btn btn-primary relative waves-light" (click)="basicModal.show()" mdbRippleRadius>Launch demo modal</button>

        <div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
          aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Bible Contents</h4>
              </div>
              <div class="modal-body">
                  <mat-accordion *ngFor="let testament of testaments" multi="true">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{testament.name}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                      <mat-accordion  >
                        <mat-expansion-panel *ngFor="let book of testament.books">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                  {{book.name}}
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                          <button (click)="selectChapter(testament.name, book.name, i+1); basicModal.hide();" *ngFor="let num of Arr(book.numChapters), let i = index" mat-button>{{i + 1}}</button>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </mat-expansion-panel>
                  </mat-accordion>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-8">

   
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-offset-2 col-md-6">
    <div class="md-form">
      <button (click)="buildGameAndCreate()" type="button" class="btn btn-outline-success btn-block  waves-light" mdbRippleRadius>Confirm</button>
    </div>
  </div>
</div>