<div class="btn-group">
  <a [class.disabled]="counterValue.length == 1" (click)="decrement()" class="btn-floating btn-lg purple-gradient waves-light" mdbRippleRadius>
    <i class="fa fa-minus"></i>
  </a>
  <h4>{{counterValue}}</h4>
  <a [class.disabled]="counterValue.length < 20" (click)="increment()" class="btn-floating btn-lg purple-gradient waves-light" mdbRippleRadius>
    <i class="fa fa-plus"></i>
  </a>
</div>