.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg");
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285f4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285f4;
    }
}

.intro {
    min-width: 1090px;
}

.parallax {
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}