<header>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" [containerInside]="false">
    <logo>
      <a class="logo navbar-brand" href="#">
        <strong>ZypeType</strong>
      </a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbRippleRadius>
          <a class="nav-link">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">Link</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">Profile</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro hm-purple-light parallax">
    <div class="full-bg-img flex-center">
      <div class="container text-center white-text wow fadeInUp">
        <router-outlet></router-outlet> 
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main class="text-center py-5">
  
  <div class="container">
    <zype-setup (createGame)="createGame()"></zype-setup>
  </div>

</main>

<footer class="page-footer blue center-on-small-only">

  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <h5 class="title">Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
      </div>

      <div class="col-md-6">
        <h5 class="title">Links</h5>
        <ul>
          <li>
            <a href="#">Link 1</a>
          </li>
          <li>
            <a href="#">Link 2</a>
          </li>
          <li>
            <a href="#">Link 3</a>
          </li>
          <li>
            <a href="#">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright:
      <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
    </div>
  </div>

</footer>